* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.logo-name {
  display: block;
}

.logo-name_text {
  font-size: 24px;
  line-height: 28px;
  margin-left: 14px;
}

.brand-color {
  color: #F25822;
}

.top_content {
  margin-bottom: 259px;
}

.top_header {
  margin-top: 40px;
  margin-bottom: 84px;
  padding-top: 11px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 16px;
}

.top_content_header {
  margin-bottom: 17px;
  font-size: 60px;
  line-height: 70px;
}

.top_content_text {
  color: #888888;
  font-size: 20px;
  line-height: 23px;
}

.top_content_buttons {
  margin-top: 37px;
}

.start {
  background-color: #F25822;
  padding: 16px 36px;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  border-radius: 50px;
  border: 0;
  color: white;
  margin-right: 72px;
}

.watch-video {
  color: #AAAAAA;
  border: 0;
  background-color: white;
}

.top_content_image {
  margin-left: 41px;
}

.links a:first-child {
  color: #F25822;
}